*{
    margin:0px;
    padding:0px;
}
:root{
    --mainColor:rgb(255, 51, 133);
    --mainFamily:'Quicksand', sans-serif;
    --trans:.2s all linear;
    --lightWhite:rgba(255,255,255,.87);
    --myH:88vh;
    --mainColorLite:rgba(255, 51, 133,.5);
}

.nav{
    background-color:var(--mainColor);
    font-family:var(--mainFamily);
    display:flex;
    padding:1rem 3rem;
    box-sizing: border-box;
    height:7vh;
    justify-content: space-between;
    color:white;
}
.nav a{
    color:var(--lightWhite);
    transition: var(--trans);
}
.nav a:hover{
    color:white;
}
.nav_box_1{
    font-size:1.5rem;
}
.nav_box_2{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    position:fixed;
    top:0px;
    background-color:black;
    width:22vw;
   
    right:-22vw;
    min-height:22vh;
    padding:2rem 3rem;
    padding-top:2rem;
    transition: .5s all linear;
}
.nav_box_2 a{
    margin-top:.3rem;
    margin-bottom:.3rem;
}
.nav_box_2 div{
    /* border:1px solid red; */
    display:flex;
    justify-content: flex-end;
    
    margin-bottom:2rem;
}
.slide{
    right:0px;
}
.nav_cut{
    font-size:1.3rem;
    border:1.5px solid white;
    box-sizing: border-box;
    height:3rem;
    width:3rem;
    display:flex;
    justify-content: center;
    align-items:center;
    transition: var(--trans);
}
.nav_cut:hover{
    cursor:pointer;
    background-color:white;
    color:black;
}
a{
    text-decoration:none;
    outline:none;
}
.nav_box_3{
    display:flex;
    flex-direction: column;
}
.nav_box_3 div{
    box-sizing: border-box;
    width:2rem;
    height:.3rem;
    background-color:var(--lightWhite);
    margin-top:.2rem;
    margin-bottom: .2rem;
    transition: var(--trans);
}
.nav_box_3:hover{
    cursor: pointer;
}
.nav_box_3:hover div{
    
    background-color:white;
}
.footer{
    background-color:var(--mainColor);
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height:5vh;
    font-family:var(--mainFamily);
    color:white;
}
.homepage{
    height:var(--myH);
}
.signup{
    padding:5rem;
    /* border:1px solid red; */
    box-sizing:border-box;
    min-height:var(--myH);
    display:flex;
    justify-content: center;
    align-items:center;
    font-family:var(--mainFamily);
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position:center center;
    background-size:cover;
    
}
.captcha{
    border:1px solid black;
    margin-top:.5rem;
    margin-bottom:.5rem;
}
.login{
    /* border:1px solid red; */
    box-sizing:border-box;
    height:var(--myH);
    display:flex;
    justify-content: center;
    align-items:center;
    font-family:var(--mainFamily);
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://images.pexels.com/photos/3563625/pexels-photo-3563625.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position:center center;
    background-size:cover;
}
.form{
    box-sizing:border-box;
    /* border:1px solid red; */
    width:35vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    padding-top:3rem;
    padding-bottom:4rem;
    border-radius:1rem;
}
.form h2{
    font-weight:100;
    color:var(--mainColor);
    margin-bottom:3rem;
}
.form input,textarea{
    box-sizing:border-box;
    width:60%;
    outline:none;
    font-family:var(--mainFamily);
    margin-top:.8rem;
    margin-bottom:.8rem;
    padding:.5rem 1rem;
    background-color:rgba(0,0,0,0.1);
    border:4px solid transparent;
    border-radius:.2rem;
    transition:var(--trans);
    /* box-shadow:2px 0px 5px var(--mainColor); */
}
.form textarea{
    height:15vh;
}
.form input:hover,textarea:hover{
    border:4px solid var(--mainColorLite);
    background-color:white;
}
#btn{
    background-color:white;
    border:4px solid var(--mainColorLite);
    color:var(--mainColorLite);
    transition:var(--trans);
    font-size:1rem;
}
#btn:hover{
    cursor:pointer;
    background-color:var(--mainColorLite);
    color:white;
}
.form h4{
    font-weight:100;
    font-size:1rem;
    margin-top:1rem;
}
.form h4 a{
    color:var(--mainColorLite);
    transition: var(--trans);
}
.form h4 a:hover{
    color:var(--mainColor);
}
.error,.success{
    position:fixed;
    top:0px;
    /* border:1px solid red; */
    right:0px;
    box-sizing: border-box;
    min-width:15vw;
    background-color:white;
    padding:1rem 1.5rem;
    font-weight:100;
    border-left:3px solid red;
    top:10vh;
    font-family:var(--mainFamily);
    transition:1s all linear;
}
.success{
    border-left:3px solid green;
}
.error i,.success i{
    margin-left:1rem;
    color:rgba(0,0,0,.2);
    transition:var(--trans);
}
.error i:hover,.success i{
    cursor:pointer;
    color:black;
}
.hide{
    right:-50vw;
}