*{
    margin:0px;
    padding:0px;
}
:root{
    --mainColor:rgb(255, 51, 133);
    --mainFamily:'Josefin Sans', sans-serif;
    --trans:.2s all linear;
    --lightWhite:rgba(255,255,255,.6);
    --myH:88vh;
    --mainColorLite:rgba(255, 51, 133,.5);
    --scndColor:rgb(51, 153, 255);
}
body{
    font-family:var(--mainFamily);
}
.nav{
    background-color:var(--mainColor);
    font-family:var(--mainFamily);
    display:flex;
    padding:1rem 3rem;
    box-sizing: border-box;
    height:7vh;
    justify-content: space-between;
    color:white;
}
.nav a{
    color:white;
    transition: var(--trans);
}
.nav a:hover{
    /* color:white; */
    color:black;
}
.nav_box_1{
    font-size:1.5rem;
    display:flex;
    align-items:center;
}
.nav_box_2{
    display:flex;
    flex-direction: column;
    justify-content:center;
    box-sizing: border-box;
    position:fixed;
    /* top:0px; */
    top:-105%;
    right:0px;
    /* background-color:black; */
    background-color:white;
    /* width:22vw;
    right:-22vw; */
    width:100%;
    height:100%;
    /* height:0rem; */
    /* min-height:22vh; */
    /* padding:2rem 3rem;
    padding-top:2rem; */
    pointer-events: none;
    /* opacity:0; */
    box-shadow:0px 0px 5px rgba(0,0,0,.5);
    z-index:100;
    transition: 1s all linear;
}
.nav_box_2 a{
    /* margin-top:.3rem; */
    /* margin-bottom:.3rem; */
    margin-top:1rem;
    margin-bottom:1rem;
    font-size:1.5rem;
    text-align:center;
    /* color:var(--lightWhite); */
    color:var(--mainColor);
}
.nav_box_2 div{
    /* border:1px solid red; */
    display:flex;
    justify-content: flex-end;
    
    margin-bottom:2rem;
}
.slide{
    /* right:0px; */
    top:0px;
    opacity:1;
    pointer-events:all;
    /* height:100%; */
}
.nav_cut{
    font-size:1.3rem;
    /* border:1.5px solid white; */
    border:1.5px solid var(--mainColor);
    color:var(--mainColor);
    box-sizing: border-box;
    height:3rem;
    width:3rem;
    display:flex;
    justify-content: center;
    align-items:center;
    transition: var(--trans);
    margin-right:4rem;
    margin-top:-8rem;
}
.nav_cut:hover{
    cursor:pointer;
    /* background-color:white; */
    background-color:var(--mainColor);
    /* color:black; */
    color:white;
}
a{
    text-decoration:none;
    outline:none;
}
.nav_box_3{
    display:flex;
    flex-direction: column;
}
.nav_box_3 div{
    box-sizing: border-box;
    width:2rem;
    height:.3rem;
    background-color:var(--lightWhite);
    margin-top:.2rem;
    margin-bottom: .2rem;
    transition: var(--trans);
}
.nav_box_3:hover{
    cursor: pointer;
}
.nav_box_3:hover div{
    
    background-color:white;
}
.footer{
    background-color:var(--mainColor);
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height:5vh;
    
    font-family:var(--mainFamily);
    color:white;
}
.footer h4{
    font-weight:100;
}
.homepage{
    height:var(--myH);
}
.signup,.login,.addBlog,.comment_form,.search{
    padding:5rem;
    /* border:1px solid red; */
    box-sizing:border-box;
    min-height:var(--myH);
    display:flex;
    justify-content: center;
    align-items:center;
    font-family:var(--mainFamily);
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position:center center;
    background-size:cover;
    
}
.comment_form{
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("https://images.pexels.com/photos/164287/pexels-photo-164287.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.captcha{
    border:1px solid black;
    margin-top:.5rem;
    margin-bottom:.5rem;
}
.login{
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://images.pexels.com/photos/3563625/pexels-photo-3563625.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position:center center;
    background-size:cover;
    
}
.form{
    box-sizing:border-box;
    /* border:1px solid red; */
    width:35vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    padding-top:3rem;
    padding-bottom:4rem;
    border-radius:1rem;
}
.form h2{
    font-weight:100;
    color:var(--mainColor);
    margin-bottom:3rem;
}
.form input,textarea{
    box-sizing:border-box;
    width:60%;
    outline:none;
    font-family:var(--mainFamily);
    margin-top:.8rem;
    margin-bottom:.8rem;
    padding:.5rem 1rem;
    background-color:rgba(0,0,0,0.1);
    border:4px solid transparent;
    border-radius:.2rem;
    transition:var(--trans);
    /* box-shadow:2px 0px 5px var(--mainColor); */
}
.form textarea{
    height:15vh;
}
.form input:hover,textarea:hover{
    border:4px solid var(--mainColorLite);
    background-color:white;
}
.form input:focus,textarea:focus{
    border:4px solid var(--mainColorLite);
    background-color:white;
}
#btn{
    background-color:white;
    border:4px solid var(--mainColorLite);
    color:var(--mainColorLite);
    transition:var(--trans);
    font-size:1rem;
}
#btn:hover{
    cursor:pointer;
    background-color:var(--mainColorLite);
    color:white;
}
.form h4{
    font-weight:100;
    font-size:1rem;
    margin-top:1rem;
}
.form h4 a{
    color:var(--mainColorLite);
    transition: var(--trans);
}
.form h4 a:hover{
    color:var(--mainColor);
}
.error,.success{
    position:fixed;
    top:0px;
    /* border:1px solid red; */
    right:0px;
    box-sizing: border-box;
    min-width:12vw;
    background-color:white;
    padding:1rem 1.5rem;
    font-weight:100;
    border-left:3px solid red;
    top:10vh;
    font-family:var(--mainFamily);
    transition:1s all linear;
}
.success{
    border-left:3px solid green;
}
.error i,.success i{
    margin-left:1rem;
    color:rgba(0,0,0,.2);
    transition:var(--trans);
}
.error i:hover,.success i:hover{
    cursor:pointer;
    color:black;
}
.hide{
    right:-50vw;
}
.addBlog{
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://images.pexels.com/photos/3563625/pexels-photo-3563625.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position:center center;
    background-size:cover;
}
.categories{
    border:1px solid red;
    display:flex;
    align-items:center;;
}
p{
    font-weight:100;
    width:40%;
    text-align:justify;
    line-height:1.5;
}
p span{
    color:var(--mainColor);
}
.homepage{
    font-family:var(--mainFamily);
    padding:0rem 5rem;
}
.hmpg_box_1{
    /* border:1px solid red; */
    display:flex;
    padding:3rem;
    margin-top:6rem;
    border-bottom:1px solid var(--mainColor);
}
.hmpg_box_1_1{
    /* border:1px solid red; */
    flex-basis:50%;
    flex-shrink:0;
}
.hmpg_box_1_1 h1{
    margin-bottom:1rem;
    font-weight:100;
    font-size:3rem;
}
.hmpg_box_1_2{
    /* border:1px solid red; */
    flex-basis:50%;
    flex-shrink:0;
    display:flex;
    justify-content: center;
}
.hmpg_box_1_2 div{
    box-sizing:border-box;
    width:25rem;
    height:15rem;
    border-radius:.5rem;
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://images.pexels.com/photos/3563625/pexels-photo-3563625.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position:center center;
    background-size:cover;
    box-shadow:0px 5px 5px rgba(0,0,0,.2);
}
.admin{
    font-family:var(--mainFamily);
    padding-top:3rem;
    height:var(--myH);
}
.admin h1{
    text-align:center;
    font-weight:100;
    color:var(--mainColor);
}
.admin_box{
    margin-top:3rem;
}
.approval{
    border-bottom:1px solid var(--mainColor);
    display:flex;
    align-items:center;
    padding:1rem 0rem;
    justify-content: space-between;
    margin:0 4rem;
    padding-right:2rem;
    margin-top:2rem;
    margin-bottom:2rem;
    padding-bottom:2rem;
}
.approval h2{
    box-sizing: border-box;
    width:10%;
    text-align: center;
    font-weight:100;
}
.approval_p{
    /* border:1px solid red; */
    box-sizing: border-box;
    width:50%;
    font-size:1.5rem;
    text-align: justify;
    height:6rem;
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    transition:.8s all linear;
}
.approval_p i{
    font-size:2rem;
}
.approval p{
    /* box-sizing: border-box; */
    width:100%;
    overflow-y:hidden;
    text-align: justify;
    font-size:1.2rem;
}
.slide_p{
    height:auto;
    overflow-y:auto;
}
.expand{
    color:var(--mainColorLite);
    transition: var(--trans);
    margin-top:1rem;
}
.expand:hover{
    cursor:pointer;
    color:var(--mainColor);
}
.approval p span{
    display:block;
    text-align:right;
}
.approval img{
    box-sizing: border-box;
    width:7rem;
    border-radius:50%;
    height:7rem;
}
.admin_btn{
    border:2px solid var(--mainColor);
    padding:.5rem 2rem;
    color:var(--mainColor);
    transition: var(--trans);
    border-radius:2rem;
}
.admin_btn:hover{
    cursor:pointer;
    color:white;
    background-color:var(--mainColor);
}
#empty_div{
    font-family:var(--mainFamily);
    height:var(--myH);
    display:flex;
    justify-content: center;
    align-items: center;
}
#empty{
    border:1.5px solid red;
    box-sizing: border-box;
    font-weight:100;
    width:40vw;
    height:10vh;
    color:red;
    display:flex;
    justify-content: center;
    align-items:center;
}
.blogs{
    box-sizing: border-box;
    min-height:var(--myH);
    padding:3rem 6rem;
    padding-top:4rem;
}
.blogs_heading{
    font-weight:100;
    color:var(--mainColor);
    font-size:3rem;
    text-align:center;
    margin-bottom:5rem;
}
.category{
    /* border:1px solid red; */
    margin-top:8rem;
    margin-bottom:8rem;
}
.category h3{
    font-size:2rem;
    font-weight:100;
    color:var(--mainColor);
    margin-bottom:2rem;
    text-align: center;
    text-decoration:underline;
}
.blog_item{
    display:flex;
    align-items:center;
    justify-content: space-between;
    text-decoration: none;
    margin-top:2rem;
    margin-bottom:2rem;
    border-bottom:1px solid var(--mainColor);
    border-top:1px solid var(--mainColor);
    padding:1rem 2rem;
    transform: scale(1);
    color:var(--mainColor);
    background-color:white;
    transition: .3s all linear;
}
.blog_item:hover{
    cursor:pointer;
    transform: scale(1.05);
    border-bottom:1px solid transparent;
    border-top:1px solid transparent;
    box-shadow:0px 0px 5px rgba(0,0,0,0.1);
}
.blog_item img{
    box-sizing: border-box;
    height:6rem;
    width:6rem;
    border-radius:50%;
}
.title{
    box-sizing: border-box;
    width:20%;
    /* border:1px solid red; */
    /* text-align: center; */
    /* margin-left:4rem; */
}
.by{
    box-sizing: border-box;
    width:15%;
    /* border:1px solid red; */
    text-align: center;
}
.empt{
    font-weight:100;
    text-align: center;
    color:red;
    font-size:1rem;
}
.pages{
    /* border:1px solid red; */
    display:flex;
    align-items:center;
    justify-content: center;
}
.pages a{
    box-sizing: border-box;
    width:2.5rem;
    height:2.5rem;
    border:1.5px solid var(--mainColor);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:1rem;
    margin-right:1rem;
    color:var(--mainColor);
    border-radius:50%;
    transition: var(--trans);
}
.pages a:hover{
    color:white;
    background-color:var(--mainColor);
}
#pg_selec{
    background-color:var(--mainColor);
    color:white;
}
.blog_full{
    border:1px solid red;
    box-sizing:border-box;
    min-height:var(--myH);
    padding:4rem 6rem;
}
.blog_full h1{
    font-weight:100;
    font-size:3rem;
    text-transform:capitalize;
}
.blog_full h4{
    font-weight:100;
    font-size:1.2rem;
    margin-top:1rem;
    color:var(--mainColor);
}
.blog_full h3{
    font-weight:100;
    margin-top:.6rem;
    font-size:1.5rem;
    color:var(--scndColor);
    text-transform:capitalize;
}
.blg_fl_img{
    display:flex;
    justify-content: center;
    margin-top:1rem;
    margin-bottom:3rem;
}
.blog_full img{
    box-sizing:border-box;
    max-width:50vw;
    max-height:40vh;
    padding:.4rem;
    margin:0px auto;
    box-shadow:0px 0px 2px rgba(0,0,0,0.3);
}
.blog_full p{
    text-transform:capitalize;
    font-size:1.5rem;
}
.lk_vws{
    /* border:1px solid red; */
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-top:1rem;
    margin-bottom:1rem;
}
.lk_vws h4 i{
    margin-left:.5rem;
    margin-right:.5rem;
}
.hrt_w{
    /* color:white; */
    /* border:1px solid red; */
}
.like,.liked{
    border:1.5px solid var(--scndColor);
    color:var(--scndColor);
    padding:.4rem 2rem;
    display:inline-block;
    margin-top:1rem;
    margin-bottom:.5rem;
    border-radius:2rem;
    transition: var(--trans);
}
.like:hover{
    cursor:pointer;
    background-color:var(--scndColor);
    color:white;
}
.liked{
    background-color:var(--scndColor);
    color:white;
    transition: var(--trans);
}
.liked:hover{
    cursor:pointer;
    background-color:white;
    color:var(--scndColor);
}
.dlt{
    border:1.5px solid red;
    display:inline-block;
    padding:.5rem 2rem;
    border-radius:2rem;
    color:red;
    font-size:.8rem;
    margin-top:1rem;
    margin-bottom:1rem;
    transition: var(--trans);
}
.dlt:hover{
    cursor:pointer;
    background-color:red;
    color:white;
}
.cmnt{
    font-size:2rem;
    color:var(--mainColor);
    display:flex;
    align-items: center;
    margin-bottom:3rem;
}
.cmnt a{
    font-size:1rem;
    margin-left:1rem;
    color:var(--scndColor);
    padding:.5rem 1rem;
    border:1.5px solid var(--scndColor);
    transition: var(--trans);
}
.cmnt a:hover{
    background-color:var(--scndColor);
    color:white;
}
.comments_box{
    border:1.5px solid var(--mainColor);
    padding:3rem 2rem; 
}
.comment{
    /* border:1px solid red; */
    border-bottom:1px solid var(--mainColor);
    margin-top:2rem;
    margin-bottom:2rem;
}
.comment h3{
    font-size:1.5rem;
}
.comment .optn{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:1rem;
    margin-bottom:1rem;
    /* border:1px solid red; */
    box-sizing: border-box;
    width:10%;
}
.comment a{
    /* margin-left:1rem; */
    margin-right:1rem;
}
.comment a:nth-child(1)
{
    color:rgb(255, 204, 0);
}
.comment a:nth-child(2)
{
    color:red;
}
.top_wrt{
    border:1px solid red;
    box-sizing: border-box;
    height:var(--myH);
    padding:3rem 6rem;
}
.top_wrt h1{
    font-weight:100;
    color:var(--mainColor);
    text-align:center;
}
.top_wrt_box{
    margin-top:3rem;
}
.name{
    /* border:1px solid red; */
    box-sizing:border-box;
    width:10vw;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.search_category{
    /* border:1px solid red; */
    /* display:flex; */
    justify-content: space-between;
    margin-top:1rem;
    margin-bottom:1rem;
}
.search_results{
    background:none;
}
.search_results{
    box-sizing: border-box;
    min-height:var(--myH);
    padding:4rem 6rem;
}
.search_results h2{
    font-weight:100;
    text-align:center;
    color:var(--mainColor);
    font-size:2rem;
}
.search_results_box{
    /* border:1px solid red; */
    margin-top:3rem;
    box-sizing: border-box;
    height:70vh;
    padding:2rem;
    overflow-y:auto;
    overflow-x:hidden;
}
.dashboard{
    border:1px solid black;
    box-sizing: border-box;
    height:var(--myH);
}
.public{
    /* border:1px solid red; */
    font-family:var(--mainFamily);
    box-sizing: border-box;
    min-height:var(--myH);
    max-height:150vh;
}
.public_box_1{
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    padding:4rem 0rem;
}
.public_box_2 h3 span{
    border-bottom: 1.5px solid var(--mainColor);
}
.pb1_1{
    /* border:1px solid red; */
    border-right:1.2px solid var(--mainColor);
    padding-right:1rem;
    display:flex;
    align-items: center;
    margin-right:2rem;
}
.pb1_1 img{
    box-sizing: border-box;
    width:6rem;
    height:6rem;
    border-radius:50%;
    /* border:1px solid red; */
}
.pb1_2{
    /* border:1px solid red; */
    box-sizing: border-box;
    width:20vw;
}
.pb1_2 p{
    /* border:1px solid red; */
    margin-top:1rem;
    line-height:1.2;
    margin-bottom:1rem;
}
.pb1_2 h4{
    font-size:1.2rem;
    margin-left:1rem;
    margin-right:1rem;
    
}
.pb1_2 h4 i{
    margin-right:1rem;
    color:var(--mainColor);
}
.pb1_2_2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
}
.pb1_2_1{
    /* border:1px solid red; */
    border-bottom:1.2px solid var(--mainColor);
    padding-bottom:1.5rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.pb1_2_1 h1{
    color:var(--mainColor);
}
.public_btn{
    padding:.5rem 2rem;
    border-radius:.2rem;
}
.public_btn:hover a{
    color:white;
}
.public_btn{
    padding:.5rem 2rem;
    display:inline-block;
    margin-top:1rem;
    margin:0px auto;
}