<!DOCTYPE html>
<html>
    <head>
        <title>Movie App</title>
    </head>
    <body>
        <nav>
           <div>
                <a href = "./homepage.html">Movie App</a>
           </div>
           <div>
            <a href = "./addMovie.html">Add Movie</a>
            <a href = "./viewMovies.html">View Movies</a>
           </div>
        </nav>
        <h4 id = "msg"></h4>
        <div>
            <h1>Movies</h1>
            <div id = "movies_div">
                
            </div>
        </div>
        <script type = "text/javascript" src = "../public/JS/JQUERY/jquery.js"></script>
        <script type = "text/javascript" src = "../public/JS/viewMovies.js"></script>
    </body>
</html>